{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App Develop by Isaac Ortiz</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maiores suscipit illo aperiam, assumenda quisquam reprehenderit sint ullam ipsa tempora numquam amet nostrum totam veritatis debitis, nobis mollitia quam. Tempora, nostrum expedita consequuntur, perferendis unde eum voluptatibus iusto earum blanditiis non, vero aut ex. Nesciunt magnam veritatis, illum minima blanditiis est quidem tempore possimus doloremque aliquam excepturi id! Atque reiciendis, quam perspiciatis sed cum voluptatibus corrupti! Facere totam illum excepturi optio a ratione eos, praesentium, harum saepe inventore, porro alias. Voluptate molestiae odit facilis iure alias aliquid corrupti, dolorem quos mollitia esse autem similique, delectus sit, quo maiores dolores maxime.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}